One big thing you will need to do is reshape the data in different ways in order to produce the graphic you want. Here, we perform some operations on the data to aggregate it in different ways.

In [20]:
# There are just two Python libraries you will need for this.
import seaborn as sns
import pandas as pd

In [21]:
# Import the dataset, name it 'df'
df = sns.load_dataset('taxis')
# Print just the column names
# What is the third column (answer in all lowercase with no punctuation, brackets, etc.)
df.columns

Index(['pickup', 'dropoff', 'passengers', 'distance', 'fare', 'tip', 'tolls',
       'total', 'color', 'payment', 'pickup_zone', 'dropoff_zone',
       'pickup_borough', 'dropoff_borough'],
      dtype='object')

In [22]:
# Print the number of rows and columns
print(df.shape)
# How many rows and columns are there?
# Print the summary statistics for the data by column
# How many feature columns were printed?
df.describe()

(6433, 14)

,passengers,distance,fare,tip,tolls,total
count,6433.000000,6433.000000,6433.000000,6433.00000,6433.000000,6433.000000
mean,1.539251,3.024617,13.091073,1.97922,0.325273,18.517794
std,1.203768,3.827867,11.551804,2.44856,1.415267,13.815570
min,0.000000,0.000000,1.000000,0.00000,0.000000,1.300000
25%,1.000000,0.980000,6.500000,0.00000,0.000000,10.800000
50%,1.000000,1.640000,9.500000,1.70000,0.000000,14.160000
75%,2.000000,3.210000,15.000000,2.80000,0.000000,20.300000
max,6.000000,36.700000,150.000000,33.20000,24.020000,174.820000

In [23]:
# Note the current minimum for 'passengers'. 
# Filter the dataset so that only rows with 'passengers' >= 2 are kept
# Save the result as 'df1'
df1 = df[df['passengers'] >= 2]
# How many rows and columns are there now?
print(df1.shape)

(1659, 14)

In [24]:

# Summarize the 'total' column by 'pickup_borough' and 'dropoff_borough' (in that order)
# Save the result as 'df2'. Hint: you will need to reset the index in place to get the correct answer
# How many rows and columns are there now?
df2 = pd.DataFrame((df1.groupby(['pickup_borough', 'dropoff_borough'])['total'].agg(sum)))
df2.reset_index(inplace=True)
print(df2.shape)

(14, 3)

In [25]:
# Bin the 'total' column from 'df1' into 3 bins, save it as 'df3'.
# How many rows are in each bin? How many columns are there?
df3 = pd.DataFrame(pd.qcut(df1['total'], 3, labels=None).value_counts()) 
#df3.columns=['bin', 'count']
#df3.sort_values('bin', inplace=True)
print(df3.shape)

(3, 1)

In [26]:
# Look at the head of the dataset to see what it actually looks like.
# How many columns do you actually see? Hint: not all columns have titles, and a column might
# have multiple values in each row.
df3.head()

                  total
(3.299, 12.033]     553
(12.033, 17.817]    553
(17.817, 174.82]    553

In [27]:
# What the number of values in each bin?

In [28]:
# Let's make the columns a bit more understandable. One way is to reset the index .
df3.reset_index(inplace=True)

In [29]:
# How many rows and columns does df3 have now?
print(df3.shape)

(3, 2)

In [30]:
# What does it look like now?
df3.head()

              index  total
0   (3.299, 12.033]    553
1  (12.033, 17.817]    553
2  (17.817, 174.82]    553

In [ ]:
# We would correct the name of the first column to read 'bins'